.navbar-brand{
    font-size: 1.9rem !important;
    color: #e75b5b !important;
  }

  .nav-item a{
    font-size: 1.2rem !important;
    text-transform: capitalize !important;
    text-decoration: none !important;
  }

  .nav-item a:hover{
    color: #e75b5b !important;
    font-size: 1.2rem !important;
   
    text-decoration: none !important;
  }

  
  .navbar-nav{
    margin-left: auto !important;
  }

.menu-active{
    font-weight: bold;
    color: #2b97c9 !important;
    border-bottom: 1px solid #e75b5b;
}


@media (max-width:991px) {
    .navbar-brand{
        font-size: 1.5.rem !important;
    }
    .menu-active{
        font-weight: bold;
        border-bottom: none;
    }
}